[submodule "web"]
	path = web
	url = https://github.com/shibakomino/kohana.git
	branch = 3.7/develop-lite
[submodule "dev-modules/codebench"]
	path = dev-modules/codebench
	url = https://github.com/shibakomino/codebench.git
[submodule "dev-modules/unittest"]
	path = dev-modules/unittest
	url = https://github.com/shibakomino/unittest.git
[submodule "dev-modules/userguide"]
	path = dev-modules/userguide
	url = https://github.com/shibakomino/userguide.git
[submodule "dev-modules/kohana-core-dev"]
	path = dev-modules/kohana-core-dev
	url = https://github.com/shibakomino/kohana-core-dev.git
	branch = 3.7/master
[submodule "dev-modules/sample"]
	path = dev-modules/sample
	url = https://github.com/shibakomino/kohana-sample-module.git
[submodule "dev-modules/core/exception"]
	path = dev-modules/core/exception
	url = https://github.com/shibakomino/kohana-core-exception.git
[submodule "dev-modules/core/debug"]
	path = dev-modules/core/debug
	url = https://github.com/shibakomino/kohana-core-debug.git
